/* GENERAL STYLING */
* {
  box-sizing: border-box;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0px 20px;
  text-align: center;
}


/* FONT STYLING */

h1 {
  font-size: 4.5rem;
  line-height: 1.1;
  color: #BF8538;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #CC563C;
}

h2 {
  color: #CC563C;
}

caption {
  color: #CC563C;
  padding-bottom: 10px;
  font-size: 1.5rem;
}

label {
  color: #CC563C;
}

th, th > button {
  color: #F1E8D7;
  border: 1px solid transparent;
}

th {
  padding: 5px 0;
}

p {
  font-family: 'Montserrat', sans-serif;
  float: right;
}


/* FORM STYLING */

form {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin: 30px 0px;
}

.forminput {
  background-color: #F1E8D7;
  border: none;
  width: 100%;
  height: 32px;
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  margin: 3px 0px;
}

.forminput:focus-visible {
  outline: 1px solid #10231D;
}

.formdiv {
  width: 33.4%;
}

#priorityinputdiv {
  width: 15%;
}

#priorityform {
  cursor: pointer;
}

#submitform {
  background-color: #10231D;
  color: #BF8538;
  width: 10%;
  padding: 0px;
  height: 32px;
}

#submitform:hover {
  border-color: #CC563C;
}


label {
  text-align: left;
}

.forminput, label {
  display: block;

}

div {
  float: left;
}

select:focus-visible {
  outline: 1px solid #10231D;
}

/* TABLE STYLING */

td {
  border-top: 1px #F1E8D7 solid;
  border-bottom: 1px #F1E8D7 solid;
  border-left: none;
  border-right: none;
  background-color: #F1E8D7;
}

#incompletetable {
  margin: 30px 0 30px;
}


td>button {
  background-color: #F1E8D7
}


.iteminput, .categoryinput, .priorityinput {
  border: none;
  background-color: #F1E8D7;
  color: #10231D;
  font-family: 'Montserrat', sans-serif;
}

.iteminput, .categoryinput {
  width: 100%;
}

.priorityinput {
  cursor: pointer;
}

.column4 {
  width: auto;
}

.column1, .column5 {
  width: auto;
  padding: 5px;
}

textarea {
  resize: none;
  height: 100%;
  border: 1px solid green;
}

textarea:focus-visible {
  outline: 1px solid #10231D
}

table {
  background-color: #CC563C;
  border-radius: 10px;
  padding: 0px 20px 20px 20px;
  width: 100%;
}


td.button {
  background-color: #F1E8D7;
}

button {
  border: 1px solid transparent;
  padding: 5px;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  background-color: #CC563C;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #10231D;
}

.delete {
  padding: 0px 5px;
  margin: auto;
}

.complete {
  cursor: pointer;
}

.complete:checked {
  accent-color: #10231D;
  border: none;
}

@media screen and (max-width: 545px){
  h1 {
    font-size: 3.5rem;
  }

  h2 {
    font-size: 1rem;
  }

  caption {
    font-size: 1rem;
  }

  th.column1, 
  th.column5, 
  .sortName, 
  .sortCategory, 
  .sortPriority, 
  .categoryinput, 
  .iteminput, 
  .priorityinput, 
  .forminput,
  #submitform,
  p {
    font-size: 0.75rem;
  }

}
