/* GENERAL STYLING */
* {
  box-sizing: border-box;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


/* FONT STYLING */

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: #BF8538;
  text-shadow: -1px 1px 0px #CC563C,
                1px 1px 0px #CC563C,
                1px -1px 0px #CC563C,
                -1px -1px 0px #CC563C;
}

h2 {
  color: #CC563C;
}

caption {
  color: #CC563C;
}

label {
  color: #CC563C;
}

.header {
  color: #F1E8D7;
}

p {
  font-family: 'Montserrat', sans-serif;
}

/* FORM STYLING */

form {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.forminput {
  background-color: #F1E8D7;
  border: none;
  width: 100%;
  height: 32px;
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
}

.formdiv {
  width: 33.4%;
}

#priorityinputdiv {
  width: 10%;
}

#submitform {
  background-color: #10231D;
  color: #BF8538;
  width: 10%;
  padding: 0px;
  height: 32px;
}

#submitform:hover {
  border-color: #CC563C;
}

button {
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #CC563C;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #10231D;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

label {
  text-align: left;
}

.forminput, label {
  display: block;

}

div {
  float: left;
}

/* TABLE STYLING */

td {
  border-top: 1px #F1E8D7 solid;
  border-bottom: 1px #F1E8D7 solid;
  border-left: none;
  border-right: none;
  background-color: #F1E8D7;
}

td>button {
  background-color: #F1E8D7
}



.iteminput {
  border: none;
  background-color: #F1E8D7;
  color: #10231D;
  font-family: 'Montserrat', sans-serif;
}





table {
  background-color: #CC563C;
  border-radius: 10px;
}

button {
  background-color: #CC563C;
  color: #10231D;
}

td.button {
  background-color: #F1E8D7;
}